section {
    width: 900px;
    height: 900px;
    background: no-repeat center/cover url("https://images.unsplash.com/photo-1682687982468-4584ff11f88a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}