section {
    background-color: #bc6c25;
    width: 800px;
    height: 800px;
}

div {
    background-color: #cdb4db;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 50px;
    border: 2px solid black;
    line-height: 120%;
}

article {
    font-size: 30px;
}

h2 {
    font-size: 2em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 0.5em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #023047;
    color: #ef476f;
}

#percentage {
    background-color: #c9184a;
    width: 400px;
    height: 800px;
}

#percentage div {
    background-color: #ffca3a;
    width: 70%;
    height: 20%;

}

#rems h1 {
    font-size: 0.5rem;
    color: black;
    background-color: #fcf6bd;
}

#rems h2 {
    font-size: 1.2rem;
    color: #9a8c98;
    background-color: ef476f;
}

#rems ul {
    font-size: 0.5rem;
}