/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,
h2 {
    color: #1d3537;
}

#signup {
    color: #fefae0;
    background-color: #ffb703;
}

span {
    color: #0077b6;
}

.tag {
    color: #dc2f02;
    background-color: #023047;
    font-size: 14px;
}

.post a {
    color: #0077b6;
}

footer a {
    color: #e4c1f9;
}