h1 {
    color: teal;
    background-color: #34e5eb;
}

button {
    color: black;
    background-color: blueviolet;
}


p {
    color: olive;
    background: orange;
    line-height: 2;
}


h2 {
    text-align: center;
    font-family: bold;
    /* wavyは線の形を波線にする */
    text-decoration: underline wavy;
    letter-spacing: 10px;
    font-size: 100px;
    font-family: Futura, Helvetica,sans-serif;
}

a {
    text-decoration: none;
}