h1 {
    color: teal;
    background-color: #34e5eb;
}

button {
    color: black;
    background-color: blueviolet;
}


p {
    color: olive;
    background: orange;
}

body {
    background-color: #062b27;
}